# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging


# Data - We do not want to check in the data into the repo
Project/Data/
Images/
Logs/

# Environments - Removing Pycharm IDE specific files
.idea*
__pycache__*

#Pycharm Garbage
CapstoneNeuralNet/Dependencies/*

