# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging


# Data - We do not want to check in the data into the repo
Data/

# Environments - Removing Pycharm IDE specific files
Python_Environment/.idea*
Python_Environment/__pycache__*

