[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
numpy = "*"
scikit-learn = "*"
tensorboard = "*"
tensorflow = "*"
keras = "*"
beautifulsoup4 = "*"
requests = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
